USE [master]
GO
/****** Object:  Database [Weather]    Script Date: 8/25/2021 3:02:20 PM ******/
CREATE DATABASE [Weather]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Weather', FILENAME = N'C:\Users\abelb\Weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Weather_log', FILENAME = N'C:\Users\abelb\Weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Weather].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Weather]
GO
USE [Weather]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 8/25/2021 3:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[WeatherId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Temperature] [float] NOT NULL,
	[HowTemperatureFeel] [float] NOT NULL,
	[MinTemperature] [float] NOT NULL,
	[MaxTemperature] [float] NOT NULL,
	[Humidity] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeatherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Weather_Procedure]    Script Date: 8/25/2021 3:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Weather_Procedure]
	@Status NVARCHAR(MAX),
	@Description NVARCHAR(MAX),
	@Temperature FLOAT,
	@HowTemperatureFeel FLOAT,
	@MinTemperature FLOAT,
	@MaxTemperature FLOAT,
	@Humidity FLOAT,
	@Date DATETIME
AS
BEGIN

	SET NOCOUNT ON;

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION

		BEGIN TRY

			INSERT INTO Weather VALUES 
			(@Status, @Description, @Temperature, @HowTemperatureFeel,
			@MinTemperature, @MaxTemperature, @Humidity, @Date)
			
			COMMIT;

		END TRY

		BEGIN CATCH
			
			PRINT ERROR_MESSAGE()
			ROLLBACK;

		END CATCH

END
GO
USE [master]
GO
